[*.{cs,vb}]

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = all:none

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = none

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = none

# CA1052: Static holder types should be Static or NotInheritable
dotnet_diagnostic.CA1052.severity = none

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CA1801: 
dotnet_diagnostic.CA1801.severity = none
